<article>
  <h3>Linki:</h3>
  <ul class="link-list">
    <li>
      <a href="https://www.facebook.com/groups/1361091490641914">Grupa "Programuj, Dziewczyno!"</a>
    </li>
  </ul>
</article>
<br>
<article *ngIf="dates$ | async as dates">
  <h3>Archiwum:</h3>
  <ul *ngFor="let date of dates; trackBy: trackByIndex; let i = index">
    <li>
      <p>{{ date.yearName }}</p>
      <ul *ngFor="let month of date.months; trackBy: trackByIndex; let i = index">
        <li><button (click)="handleMonthChanged(date.yearName, month, $event)">{{ month.monthName }}</button></li>
      </ul>
    </li>
  </ul>
</article>
